nav{
    background-color: #3d4251;
    ul{
        display: flex;
        justify-content: center;
        li{
            padding: 0.5rem 1rem;
            a{
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
}